* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  margin-bottom: 200px;
  background-color: #f5fafe;
}
.container {
  padding: 0 100px;
  max-width: 1310px;
  margin: 0 auto;
}
