.navbarBottom {
  background-color: #0a223d;
  height: 80px;
  ul {
    list-style: none;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-family: "Mulish", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-decoration: none;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
}
