* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  margin-bottom: 200px;
  background-color: #f5fafe;
}

.container {
  padding: 0 100px;
  max-width: 1310px;
  margin: 0 auto;
}

.navtop {
  padding: 0 100px;
  background: #f5fafe;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navtop .heading-left span:first-child {
  color: red;
  height: 13px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #333333;
  line-height: 12.55px;
}
.navtop .heading-left span:last-child {
  color: red;
  height: 13px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #333333;
  line-height: 12.55px;
}
.navtop .heading-right {
  display: flex;
  align-items: center;
}
.navtop .heading-right .gift,
.navtop .heading-right .star {
  display: flex;
  align-items: center;
  margin-left: 98px;
}
.navtop .heading-right span {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
  margin-left: 20px;
}
.navtop .heading-right img {
  width: 18px;
  height: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 120px;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}
h1 span {
  color: red;
}

.search {
  position: relative;
}
.search input {
  width: 350px;
  height: 40px;
  border: none;
  background-color: #f5fafe;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.search ::-moz-placeholder {
  color: #333333;
  height: 15px;
  padding-left: 23px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.search :-ms-input-placeholder {
  color: #333333;
  height: 15px;
  padding-left: 23px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.search ::placeholder {
  color: #333333;
  height: 15px;
  padding-left: 23px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.search span {
  background-color: red;
  position: absolute;
  width: 65px;
  height: 40px;
  text-align: center;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.search span img {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}

.right-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.right-navbar .shopping-cart {
  width: 34px;
  position: relative;
  margin-right: 30px;
}
.right-navbar .shopping-cart img {
  width: 24px;
  height: 24px;
}
.right-navbar .shopping-cart span {
  position: absolute;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 16px;
}
.right-navbar .Ellipse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-navbar .Ellipse span {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-right: 30px;
  color: #333333;
}
.right-navbar .Ellipse .img-perso {
  margin-right: 30px;
}

.navbarBottom {
  background-color: #0a223d;
  height: 80px;
}
.navbarBottom ul {
  list-style: none;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarBottom ul a {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.bread-crumb {
  height: 50px;
  background: #f5fafe;
  display: flex;
  align-items: center;
}
.bread-crumb p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #0a223d;
}

.hotel-name {
  background: #f5fafe;
}
.hotel-name .stars img {
  width: 8px;
  height: 8px;
}
.hotel-name .heading {
  display: flex;
}
.hotel-name .heading h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: inline;
  color: #333333;
}
.hotel-name .heading span {
  padding: 9px 5px;
  background: #ec1f46;
  border-radius: 3px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  margin-left: 20px;
}
.hotel-name .names {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.parent-slider {
  background-color: #f5fafe;
  padding-top: 30px;
}
.parent-slider .container-slide {
  display: flex;
  justify-content: space-between;
}
.parent-slider .slider {
  background-image: url("../img/Rectangle 5.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 928px;
  height: 450px;
  position: relative;
}
.parent-slider .slider .chevron-left {
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 30px);
  left: 20px;
}
.parent-slider .slider .chevron-right {
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 30px);
  right: 20px;
}
.parent-slider .booking-map {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.parent-slider .booking-map .booking {
  background-color: #0a223d;
  padding: 20px;
  color: white;
  border-radius: 9px;
}
.parent-slider .booking-map .booking .box-booking {
  display: flex;
  justify-content: space-between;
}
.parent-slider .booking-map .booking .box-booking .left-box h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.parent-slider .booking-map .booking .box-booking .left-box p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  margin: 3px 0;
}
.parent-slider .booking-map .booking .box-booking .left-box :last-child {
  font-family: " Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.parent-slider .booking-map .booking .box-booking .right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.parent-slider .booking-map .booking .box-booking .right-box img {
  width: 14px;
  height: 14px;
}
.parent-slider .booking-map .booking .box-booking .right-box span {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 3px 0;
}
.parent-slider .booking-map .booking .btn {
  background: #ec1f46;
  border-radius: 4px;
  text-align: center;
  padding: 13px 0;
  margin-top: 30px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.parent-slider .map {
  border-radius: 9px;
}

.cards-menu {
  padding: 20px 0;
}
.cards-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-menu ul li {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.cards-menu ul li a {
  text-decoration: none;
  color: #333333;
  position: relative;
}
.cards-menu ul li :hover {
  color: red;
}
.cards-menu ul li :hover::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 120px;
  border: 1px solid red;
}

.package-sammery {
  padding: 20px 0;
}
.package-sammery h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 20px;
}
.package-sammery .box-package {
  display: flex;
  justify-content: space-between;
}
.package-sammery .box-package .box-package-highlight {
  width: 50%;
  margin-right: 10px;
}
.package-sammery .box-package .box-package-highlight .package-highlight {
  height: 100%;
}
.package-sammery .box-package .box-package-highlight .package-highlight .package-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #0a223d;
  padding: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.package-sammery .box-package .box-package-highlight .package-highlight .package-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  background-color: #fff;
  height: 100%;
}
.package-sammery .box-package .box-package-highlight .package-highlight .package-body > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.package-sammery .box-package .box-package-highlight .package-highlight .package-body > div img {
  margin-right: 10px;
}
.package-sammery .box-package .box-package-offer {
  width: 50%;
  margin-left: 10px;
}
.package-sammery .box-package .box-package-offer .package-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #0a223d;
  padding: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.package-sammery .box-package .box-package-offer .package-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  background-color: #fff;
  height: 100%;
}
.package-sammery .box-package .box-package-offer .package-body > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.package-sammery .box-package .box-package-offer .package-body > div img {
  margin-right: 10px;
}

.package-cards {
  margin-top: 60px;
}
.package-cards .package-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #0a223d;
  padding: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.package-cards .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 25px;
  background-color: #fff;
}
.package-cards .cards .card {
  margin: 12px;
  flex-basis: calc(33.33% - 24px);
}
.package-cards .cards .card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 10px 0;
  color: #ec1f46;
}
.package-cards .cards .card > div {
  display: flex;
  margin: 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.package-cards .cards .card > div img {
  margin-right: 20px;
}

.guest-review {
  padding: 100px 0;
}
.guest-review h3 {
  text-align: center;
  padding: 20px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.guest-review .container-box {
  display: flex;
  justify-content: space-between;
}
.guest-review .guest-review-box1 {
  display: flex;
}
.guest-review .guest-review-box1 .img {
  display: flex;
}
.guest-review .guest-review-box1 .review {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a223d;
  padding: 20px;
}
.guest-review .guest-review-box1 .review h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.guest-review .guest-review-box1 .review .map-users div {
  display: flex;
  margin: 20px 0;
}
.guest-review .guest-review-box1 .review .map-users div img {
  margin-right: 20px;
}
.guest-review .guest-review-box1 .review .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guest-review .guest-review-box1 .review .prices .btn {
  color: white;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #ec1f46;
  border-radius: 4px;
  cursor: pointer;
}
.guest-review .guest-review-box2 {
  display: flex;
}
.guest-review .guest-review-box2 .img {
  display: flex;
}
.guest-review .guest-review-box2 .review {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a223d;
  margin-left: 20px;
  border-radius: 10px;
}
.guest-review .guest-review-box2 .review h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.guest-review .guest-review-box2 .review .map-users {
  padding: 20px;
}
.guest-review .guest-review-box2 .review .map-users div {
  display: flex;
  margin: 20px 0;
}
.guest-review .guest-review-box2 .review .map-users div img {
  margin-right: 20px;
}
.guest-review .guest-review-box2 .review .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.guest-review .guest-review-box2 .review .prices .btn {
  color: white;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #ec1f46;
  border-radius: 4px;
}
.guest-review .container-box2 .guest-review-box3 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.guest-review .container-box2 .guest-review-box3 .img {
  display: flex;
}
.guest-review .container-box2 .guest-review-box3 .review {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a223d;
  border-radius: 10px;
}
.guest-review .container-box2 .guest-review-box3 .review h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.guest-review .container-box2 .guest-review-box3 .review .map-users {
  padding: 20px;
}
.guest-review .container-box2 .guest-review-box3 .review .map-users div {
  display: flex;
  margin: 20px 0;
}
.guest-review .container-box2 .guest-review-box3 .review .map-users div img {
  margin-right: 20px;
}
.guest-review .container-box2 .guest-review-box3 .review .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.guest-review .container-box2 .guest-review-box3 .review .prices .btn {
  color: white;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #ec1f46;
  border-radius: 4px;
}

.person-review {
  text-align: center;
  padding: 100px 0;
}
.person-review .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.person-review .person-box {
  padding-top: 100px;
}
.person-review .person-box .box {
  background-color: #fff;
  position: relative;
  margin: auto 200px;
  padding: 100px;
  text-align: center;
  padding-top: 80px;
}
.person-review .person-box .box .right-arrow {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
}
.person-review .person-box .box .left-arrow {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
}
.person-review .person-box .box .img {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-59%);
}
.person-review .person-box .box h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ec1f46;
  margin: 10px 0;
}
.person-review .person-box .box span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}
.person-review .person-box .box p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  color: #333333;
}

.newsletter {
  background-image: url("../img/Rectangle 25.png");
  background-size: cover;
  background-position: center;
}
.newsletter .background {
  background-color: #0a223dc9;
  padding: 100px;
}
.newsletter .background .box-letter {
  margin: auto 200px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .background .box-letter .text-letter p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.newsletter .background .box-letter .text-letter h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}
.newsletter .background .box-letter .input {
  display: flex;
}
.newsletter .background .box-letter .input input {
  height: 55px;
  width: 300px;
  outline: none;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.newsletter .background .box-letter .input ::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 18px;
  color: #bdbdbd;
  padding-left: 20px;
}
.newsletter .background .box-letter .input :-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 18px;
  color: #bdbdbd;
  padding-left: 20px;
}
.newsletter .background .box-letter .input ::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 18px;
  color: #bdbdbd;
  padding-left: 20px;
}
.newsletter .background .box-letter .input span {
  background-color: red;
  width: 65px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.activities {
  padding: 100px 0;
}
.activities .heading {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.activities .box-activities {
  margin: -12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.activities .box-activities .box-act {
  background-image: url("../img/Rectangle 22.png");
  background-size: cover;
  background-position: center;
  margin: 12px;
  padding: 26px;
  flex-basis: calc(25% - 24px);
  border-radius: 7px;
}
.activities .box-activities .box-act .text-act {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 250px;
  color: white;
}
.activities .box-activities .box-act .text-act div {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.activities .box-activities .box-act .text-act .btn {
  padding: 15px 11px;
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  background: #ec1f46;
  border-radius: 4px;
  width: 150px;
  border: none;
  color: white;
}
.activities .box-activities .box-act2 {
  background-image: url("../img/Rectangle 22 (1).png");
  background-size: cover;
  background-position: center;
}
.activities .box-activities .box-act3 {
  background-image: url("../img/Rectangle 22 (2).png");
  background-size: cover;
  background-position: center;
}
.activities .box-activities .box-act4 {
  background-image: url("../img/Rectangle 22.png");
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: #0a223d;
  padding: 100px 0;
}
.footer .box-footer {
  display: flex;
  margin: -12px;
  margin-bottom: 70px;
}
.footer .box-footer .section-footer {
  margin: 12px;
  flex-basis: calc(50% - 24px);
}
.footer .box-footer .section-footer .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer .box-footer .section-footer ul {
  list-style: none;
  color: #bdbdbd;
}
.footer .box-footer .section-footer ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}
.footer .box-footer .section-footer .section-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 10px;
}
.footer .box-footer .section-footer .section-foot .text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  flex-basis: 50%;
}
.footer .box-footer .section-footer .section-foot .imgs {
  flex-basis: 50%;
}
.footer .box-footer .section-footer .section-foot .imgs img {
  margin: 0 5px;
}
.footer .box-footer2 {
  margin-top: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #bdbdbd;
  display: flex;
  margin: -20px;
}
.footer .box-footer2 .section-footer2 {
  margin: 20px;
  flex-basis: calc(50% - 20px);
}
.footer .box-footer2 .section-footer2 .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer .box-footer2 .section-footer2 .inputs {
  display: flex;
  margin: -10px;
  margin-top: 30px;
}
.footer .box-footer2 .section-footer2 .inputs input {
  width: 255px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 7px;
  margin: 10px;
  flex-basis: calc(50% - 20px);
}
.footer .box-footer2 .section-footer2 .inputs ::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  /* Gray 4 */
  color: #bdbdbd;
}
.footer .box-footer2 .section-footer2 .inputs :-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  /* Gray 4 */
  color: #bdbdbd;
}
.footer .box-footer2 .section-footer2 .inputs ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  /* Gray 4 */
  color: #bdbdbd;
}
.footer .box-footer2 .section-footer2 .textarea {
  margin: -10px;
}
.footer .box-footer2 .section-footer2 .textarea textarea {
  margin: 10px;
  width: 539px;
  height: 123px;
  border: none;
  outline: none;
  border-radius: 7px;
  flex-basis: calc(100% - 20px);
}
.footer .box-footer2 .section-footer2 .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -10px;
}
.footer .box-footer2 .section-footer2 .btns > * {
  margin: 10px;
  flex-basis: calc(50% - 20px);
}
.footer .box-footer2 .section-footer2 .btns .btn {
  background-color: #ec1f46;
  width: 160px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: white;
  flex-basis: calc(50% - 20px);
}
.footer .box-footer2 .section-footer2 .box-text {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.footer .box-footer2 .section-footer2 .box-text img {
  margin-right: 15px;
}
.footer .box-footer2 .section-footer2 .box-text2 {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
}
.footer .box-footer2 .section-footer2 .box-text2 img {
  margin-right: 15px;
}/*# sourceMappingURL=main.css.map */